[submodule "tmux/tmux.layouts"]
	path = tmux/tmux.layouts
	url = https://github.com/D4ykoo/tmux.layouts
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/D4ykoo/nvim.daykoo
